@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

/*===================== HEADER IMAGES FOR DIFFERENTS PAGES ======================= */

.custom-img-home {
  background-image: url("../public/images/img-home-2.jpg");
}

.img-header-about {
  background-image: url("../public/images/photo-cours2.jpg");
}
.img-header-info {
  background-image: url("../public/images/photo-cours1.jpg");
}
.img-header-testimonials {
  background-image: url("../public/images/photo-cours3.jpg");
}
.img-header-contact {
  background-image: url("../public/images/photo-rdv.jpg");
}
.img-profil {
  background-image: url("../public/images/danielle-roettger.png");
}

/*====================== IMAGES OF INFORMATIONS PAGE =========================*/

.img-info-1 {
  background-image: url("../public/images/photo-efficacite.jpg");
}
.img-info-2 {
  background-image: url("../public/images/photo-client.jpg");
}
.img-info-3 {
  background-image: url("../public/images/students.jpg");
}

/*======================= IMAGE OF ADD TESTIMONIAL PAGE ======================*/

.img-addTestimonial {
  background-image: url("../public/images/commentaire.jpg");
}

/*======================= ABOUT PAGE =========================================*/

.experienceLi {
  list-style: none;
  text-align: center;
}
