@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  font-family: "Vidaloka", serif;
}

.custom-img {
  background-image: url("../public/images/photo-home.jpg");
}
